* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    /* line-height: 160%; */
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.body_wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}



/* HEADER */

header {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}

.header_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;

}

.header_top {
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    text-decoration: none;
}

.header_logo_title {
    font-size: 32px;
    font-weight: 400;
    color: #F1CDB3;
    letter-spacing: 0.06em;
}

.header_logo_subtitle {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1em;
    letter-spacing: 0.1em;
    color: white;
}

.header_navigation_list {
    padding: 0 2px 2.5px 0;
    display: flex;
    gap: 35px;
    color: #FAFAFA;
    list-style: none;
}

.header_navigation li {
    position: relative;
    text-decoration: none;
    line-height: 1.6em;
}

.header_navigation_link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #CDCDCD;
    transition: all .2s linear;

}

.header_navigation_list .active a {
    color: #FAFAFA;
}

.header_navigation_list:active a {
    color: #FAFAFA;
}


.header_navigation_link span {
    padding: 5px 0;
    border-bottom: 3px solid transparent;
    transition: all .2s linear;
}

.header_navigation_link:active span, .header_navigation_list li.active .header_navigation_link span  {
    border-color: #F1CDB3;
}


.header_intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.header_intro_info {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.header_intro_title {
    font-size: 44px;
    line-height: 1.3em;
    color: white;
}

.header_intro_subtitle {
    line-height: 1.6em;
    color: #CDCDCD;
}

.header_intro_button {
    width: fit-content;
    padding: 15px 45px;
    font-size: 17px;
    font-family: Georgia;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
}

.header_intro_button:active {
    background-color: #F1CDB3;
}

.header_image {
    display: flex;
    align-self: flex-end;
}

.header_image {
    max-width: 698px;
    max-height: 728px;
}

.header_image img {
    min-height: 100%;
    min-width: 100%;
}


/*     MAIN    */

section {
    padding: 80px 0 100px;
}

.section_title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

/* ABOUT */

.section_about_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.section_about_image {
}

.section_about_image img {
    max-width: 408px;
    max-width: 300px;
}

.section_about_info {
    /* margin: 0 auto; */
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 160%;
    gap: 25px;
}

.section_about .section_title {
    max-width: 370px;
}

.section_about_subtitle {
    line-height: 160%;
    color: #4C4C4C;
}


/* PETS */

.section_pets {   
    background-color: #F6F6F6;
}

.section_pets_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.section_pets .section_title {
    max-width: 400px;
    text-align: center;
}

.section_pets_selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 53px;
}

.section_pets_selection_arrow{
    padding: 21px 17px;
    display: flex;
    height: fit-content;
    text-align: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s linear;
}

.section_pets_selection_arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.section_pets_selection_arrow.right {
    transform: rotate(180deg);
}

.section_pets_selection_arrow:active {
    background-color: #F1CDB3;
    border-color: #F1CDB3;
}

.section_pets_cards {
    width: 990px;
    overflow: hidden; 
}

.section_pets_cards_container {
    width: 100%;
    display: flex;
    gap: 90px;
    transition: all .3s linear
}

.section_pets_card {
    min-width: 270px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    letter-spacing: 0.07em;
    background-color: #FAFAFA;
    cursor: pointer;
    border-radius: 9px;
    transition: all .2s linear;
}

.section_pets_card:hover .section_pets_card_button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.section_pets_card_title {
    margin-top: -4px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
}

.section_pets_card_button {
    padding: 13px 43px;
    font-family: Georgia;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    transition: all .2s linear;
}

.section_pets_card:active .section_pets_card_button{
    background-color: #F1CDB3;
    border-color: #F1CDB3;
}

.section_pets_button {
    margin-top: 2px;
    padding: 16px 45px;
    font-family: Georgia;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 0.06em;
    background-color: #F1CDB3;
    color: #292929;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
}

.section_pets_button:active {
    background-color: #F1CDB3;
}

.section_pets_selection_arrows_adaptive {
    display: none;
}

/*    HELP     */

.section_help_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
}

.section_help .section_title {
    text-align: center;
}

.section_help_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 55px 120px;
}

.section_help_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}


.section_help_list_item_title {
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 0.06em;
    color: #545454;
}

/* DONATION */ 

.section_donation {
    background-color: #F6F6F6;
}

.section_donation .container {
    padding-right: 12px;
}

.section_donation_wrapper {
    margin: 0 auto;
    max-width: 905px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section_donation_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section_donation .section_title {
    margin-right: 80px;
}

.section_donation_subtitle {
    font-size: 15px;
    font-family: Georgia;
    color: #545454;
    line-height: 16.5px;
    letter-spacing: 0.06em;
}

.section_donation_card {
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Georgia;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.06em;
    line-height: 115%;
    background-color: #F1CDB3;
    color: #545454;
    border-radius: 9px;
    transition: all .2s linear;
}

.section_donation_description {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #B2B2B2;
}

/* FOOTER */


footer {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    /* height: 100%; */
}

.footer_wrapper {
    padding: 40px 0 60px;
    display: flex;
    justify-content: center;
    gap: 65px 160px;
}

.footer_contacts {
    max-width: 740px;
    margin-top: 16px;
    display: flex;
    gap: 142px;
}

.footer_contacts_info, .footer_contacts_address {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    line-height: 23px;
    letter-spacing: 0.06em;
}
/* 
.footer_contacts, .footer_address {
    min-height: 234px;
    max-width: 302px;
    padding-top: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 23px;
    letter-spacing: 0.06em;
} */

.footer_title {
    font-size: 35px;
    color: #FFFFFF;
    line-height: 45.5px;
    letter-spacing: 0.06em;
}

.footer_email, .footer_number, .footer_street {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Georgia;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    transition: all .1s linear;
}

.footer_email:hover, .footer_number:hover, .footer_street:hover {
    opacity: 0.7;
} 

.footer_image {
    margin-bottom: -60px;
    display: flex;
    align-self: flex-end;
}

/* ------------- HOVER RULES -------------*/

@media (hover:hover) {
    .header_navigation_link:hover {
        color: #FAFAFA;
    }

    .header_intro_button:hover {
        background-color: #FDDCC4;
    }

    .section_pets_card:hover {
        background-color: #FFFFFF;
    }

    .section_pets_button:hover {
        background-color: #FDDCC4;
    }

    .section_donation_card:hover{
        background-color: #FDDCC4;
    }

    .footer_email:hover, .footer_number:hover, .footer_street:hover {
        opacity: 0.7;
    } 
}


/* ---- MEDIA 1220 -----*/

@media (max-width: 1279px) {

    .container {
        max-width: 92%;
    }

    .header_wrapper {
        gap: 50px;
    }

    .header_intro form {
        margin: 0 auto;
    }

    .header_intro {
        flex-direction: column;
    }
    
    .header_image {
        max-width: 569px;
        max-height: 593px;
        margin-top: 60px;
    }
    
    .section_about_wrapper {
        flex-direction: column;
    }

    .section_about_image {
        order: 2; 
    }

    .section_pets_selection {
        gap: 0 12px;
    }

    .section_pets_cards {
        width: 580px;
    }

    .section_pets_cards_container {
        gap: 40px;
    }   

    .section_help_list {
        /* max-width: 630px; */
        gap: 55px 60px;
    }

    .section_donation_info {
        max-width: 380px;
    }

    .section_donation_wrapper {
        flex-direction: column;
    }

    .section_donation_image {
        order: 2;
    }

    .footer_wrapper {
        padding: 30px 35px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 65px 60px;
    }

    .footer_contacts {
        min-height: 234px;
        margin: 0;
        gap: 47px;
    }

    .footer_image {
        align-self: center;
        margin: 0;
    }


}

/* --------------- MEDIA 768px -----------*/

@media (max-width: 768px) {

    
    .container {
        max-width: 708px;
    }

    /* HEADER */

    .header_wrapper {
        gap: 50px;
    }

    .header_intro {
        flex-direction: column;
    }

    .header_intro_info {
        margin: 0 124px;
    }



    /* -------------- MAIN ---------------*/

    /*--- SECTION ABOUT ---*/

    .section_about_wrapper {
        padding: 0;
        max-width: 430px;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .section_about_image {
        order: 2;
    }

    /* ---- SECTION PETS ---- */

    .section_pets_wrapper {
        max-width: 100%;
    }
    /* ---- SECTION HELP ---- */


    .section_help_list_item {
        flex-basis: 170px;
    }


    /* ---- SECTION DONATION ----*/

    .section_donation .container {
        padding: 0;
    }
    .section_donation_wrapper {
        flex-direction: column;
        gap: 60px;  
    }

    .section_donation_info {
    }

    .section_donation_image {
        margin-bottom: -4px;
        order: 2;
    }

    /* --- FOOTER --- */

}



@media (max-width: 767px) {

    .header_top {
        padding: 30px 10px 10px;
    }

    .container {
        max-width: 92%;
    }

    section {
        padding: 42px 0;
    }

    .header_navigation_list {
        display: none;
    }

    .header_burger {
        z-index: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        transition: all .2s linear;
    }

    .header_burger div {
        width: 30px;
        height: 2px;
        background-color: #F1CDB3;
    }

    .header_navigation_link {
        padding: 13.45px 0;
    }

    .header_navigation_link span {
        font-size: 32px;
    }

    .header_navigation.open .header_burger {
        transform: rotate(-90deg);
    }

    .header_navigation .header_navigation_list{
        position: absolute;
        right: -320px;
        top: 0;
        width: 320px;
        height: 100vh;
        padding: 5px 0 0;
        background-color: #292929;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: all .2s ease-in-out;
        z-index: 2;
    }

    .header_navigation.open .header_navigation_list{
        transform: translateX(-100%);
    }

    .dark {
        z-index: 1;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(41, 41, 41, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: all .2s linear;
    }

    .header_navigation.open ~ .dark{
        opacity: 1;
        visibility: visible;
    }

    body.menu {
        overflow: hidden;
    }


    .header_intro_info {
        margin: 0;
    }

    .header_intro_title {
        font-size: 30px;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .header_intro_subtitle {
        text-align: center;
    }

    .header_image {
        max-width: 260px;
        max-height: 271.77px;
        margin-top: 65px;
    }


    .section_title {
        font-size: 30px;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .section_about_image img {
        max-width: 260px;
        max-height: 353.6px;
    }


    .section_pets_wrapper {
        gap: 42px;
    }
    

    .section_pets_selection {
        flex-direction: column;
        gap: 23px;
    }

    .section_pets_cards {
        width: 270px
    }

    .section_pets_cards_container {
        gap: 0;
    }

    .section_pets_selection_arrow.right.normal, .section_pets_selection_arrow.left.normal {
        display: none;
    }

    .section_pets_selection_arrows_adaptive {
        display: flex;
        gap: 80px;
    }
    .section_help_wrapper {
        gap: 42px;
    }

    .section_help_list {
        padding-left: 5px;
        gap: 30px;
    }

    .section_help_list_item {
        /* font-size: 15px; */
        flex-basis: 130px;
        gap: 20px;
    }

    .section_help_list_item img{
        max-height: 50px;
    }

    .section_help_list_item_title {
        font-size: 15px;
    }

    .section_donation_wrapper {
        gap: 40px;
    }

    .section_donation_info {
        max-width: 300px;
        /* padding: 0 10px; */
        align-items: center;
        font-size: 15px;
        gap: 23px;
    }

    .section_donation .section_title {
        margin: 0;
    }

    .section_donation_subtitle {
        letter-spacing: unset;
        text-align: justify;
        max-width: 280px;
    }

    .section_donation_description {
        padding: 0 10px;
        text-align: justify;
    }

    .section_donation_card {
        font-size: 15px;
    }


    .section_donation_image img{
        /* max-width: 260px; */
        max-height: 135.2px;
    }

    .footer_wrapper {
        padding: 30px 0 0;
        gap: 42px;
    }

    .footer_contacts {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer_contacts_info {
        align-items: center;
        padding: 0 10px;
        text-align: center;
        gap: 43px;
    }

    .footer_contacts_address {
        gap: 40px;
    }


    .footer_contacts_info .footer_title, .footer_contacts_address .footer_title {
        padding: 0 15px;
        font-size: 30px;
        text-align: center;
    }

    .footer_image img {
        max-width: 260px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }

    .header_intro_title {
        font-size: 25px;
        letter-spacing: 0.06em;
        line-height: 32.5px;
    }

    .section_about_wrapper {
        max-width: 270px;
        gap: 42px;
    }

    .section_about_info {
        /* gap: 25px; */
    }


    .section_title {
        font-size: 25px;
        letter-spacing: 0.06em;
        line-height: 32.5px;
    }

    .section_about_subtitle {
        letter-spacing: unset;
        text-align: justify;
    }

    .section_about_subtitle:nth-last-child(1) {
        margin-top: -3px; /* DELETE THIS AFTER DEADLINED */
    }

    .section_help_list {
        justify-content: unset;
    }

    .footer_contacts_info .footer_title, .footer_contacts_address .footer_title {
        font-size: 25px;
        text-align: center;
        line-height: 127%;
    }
}








