* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    /* line-height: 160%; */
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}


/* header {
    height: 908px;
    background-image: url(assets/headerback.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

header {
    height: 908px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}

.header_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_top {
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    text-decoration: none;
}

.header_logo_title {
    font-size: 32px;
    font-weight: 400;
    color: #F1CDB3;
    letter-spacing: 0.06em;
}

.header_logo_subtitle {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1em;
    letter-spacing: 0.1em;
    color: white;
}

.header_navigation_list {
    padding: 0 2px 2.5px 0;
    display: flex;
    gap: 35px;
    color: #FAFAFA;
    list-style: none;
}

.header_navigation li:after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    background-color: #F1CDB3;
    height: 3px;
    width: 100%;
    transition: all .2s linear;
    opacity: 0;
}

.header_navigation li {
    position: relative;
    text-decoration: none;
    line-height: 1.6em;
}

.header_navigation_link {
    text-decoration: none;
    color: #CDCDCD;
    transition: all .2s linear
}

.header_navigation_list .active a {
    color: #FAFAFA;
}

.header_navigation_list .active:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    background-color: #F1CDB3;
    height: 3px;
    width: 100%;
    transition: all .2s linear;
    opacity: 1;
}

.header_navigation_link:hover {
    color: #FAFAFA;
}

.header_navigation li:active:after{
    opacity: 1;
}

.header_intro {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.header_intro_info {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.header_intro_title {
    width:  310px;
    font-size: 44px;
    line-height: 1.3em;
    color: white;
}

.header_intro_subtitle {
    max-width: 460px;
    line-height: 1.6em;
    color: #CDCDCD;
}

.header_intro_button {
    width: fit-content;
    padding: 15px 45px;
    font-size: 17px;
    font-family: Georgia;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
}

.header_intro_button:hover {
    background-color: #FDDCC4;
}

.header_intro_button:active {
    background-color: #F1CDB3;
}

.header_image {
    align-self: flex-end;
    height: 728px;
    width: 698px;
    background-image: url(assets/dog.png);
    background-size: cover;
    background-repeat: no-repeat;

}


/*     MAIN    */

section {
    padding: 80px 0 100px;
}

.section_title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

/* ABOUT */

.section_about_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 175px;
    gap: 120px;
}

.section_about_image {
    height: 408px;
    width: 300px;
    background: url(assets/about-pets.png) center/cover no-repeat;
}

.section_about_info {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 160%;
    gap: 25px;
}

.section_about .section_title {
    max-width: 370px;
}

.section_about_subtitle {
    line-height: 160%;
    color: #4C4C4C;
}


/* PETS */

.section_pets {   
    background-color: #F6F6F6;
}

.section_pets_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.section_pets .section_title {
    max-width: 400px;
    text-align: center;
}

.section_pets_selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section_pets_selection_arrow{
    padding: 21px 17px;
    display: flex;
    height: fit-content;
    text-align: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s linear;
}

.section_pets_selection_arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.section_pets_selection_arrow.right {
    transform: rotate(180deg);
}

.section_pets_selection_arrow:active {
    background-color: #F1CDB3;
    border-color: #F1CDB3;
}

.section_pets_cards {
    display: flex;
    gap: 90px;
}

.section_pets_card {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    letter-spacing: 0.07em;
    background-color: #FAFAFA;
    cursor: pointer;
    border-radius: 9px;
    transition: all .2s linear;
}

.section_pets_card:hover {
    background-color: #FFFFFF;
}

.section_pets_card:hover .section_pets_card_button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.section_pets_card_title {
    margin-top: -4px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
}

.section_pets_card_button {
    padding: 13px 43px;
    font-family: Georgia;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    transition: all .2s linear;
}

.section_pets_card:active .section_pets_card_button{
    background-color: #F1CDB3;
    border-color: #F1CDB3;
}


.section_pets_button {
    margin-top: 2px;
    padding: 16px 45px;
    font-family: Georgia;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 0.06em;
    background-color: #F1CDB3;
    color: #292929;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
}

.section_pets_button:hover {
    background-color: #FDDCC4;
}

.section_pets_button:active {
    background-color: #F1CDB3;
}





/*    HELP     */

.section_help_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.section_help .section_title {
    text-align: center;
}

.section_help_list {
    margin-top: 65px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 120px;
}

.section_help_list_item {
    margin-top: -65px;
    text-align: center;
}

.section_help_list_item  img{
    margin-bottom: 27px;
}

.section_help_list_item_title {
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 0.06em;
    color: #545454;
}

/* .section_help_list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 60px;
}

.section_help_list_item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.section_help_list_item:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.section_help_list_item:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 7;
}

.section_help_list_item:nth-child(4) {
    grid-column-start: 7;
    grid-column-end: 9;
}

.section_help_list_item:nth-child(5) {
    grid-column-start: 9;
    grid-column-end: 11;
}

.section_help_list_item:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.section_help_list_item:nth-child(7) {
    grid-column-start: 4;
    grid-column-end: 6;
}

.section_help_list_item:nth-child(8) {
    grid-column-start: 6;
    grid-column-end: 8;
}

.section_help_list_item:nth-child(9) {
    grid-column-start: 8;
    grid-column-end: 10;
}

.section_help_list_item {
    text-align: center;
}

.section_help_list_item  img{
    margin-bottom: 30px;
}

.section_help_list_item_title {
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 0.06em;
    color: #545454;
} */


/* DONATION */ 

.section_donation {
    background-color: #F6F6F6;
}

.section_donation_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section_donation_image {

}

.section_donation_info {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section_donation .section_title {
    max-width: 300px;
}

.section_donation_subtitle {
    font-size: 15px;
    font-family: Georgia;
    color: #545454;
    line-height: 16.5px;
    letter-spacing: 0.06em;
}

.section_donation_card {
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Georgia;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.06em;
    line-height: 115%;
    background-color: #F1CDB3;
    color: #545454;
    border-radius: 9px;
    transition: all .2s linear;
}

.section_donation_card:hover{
    background-color: #FDDCC4;
}

.section_donation_description {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #B2B2B2;
}

/* FOOTER */


footer {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer_wrapper {
    padding: 40px 0 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 140px;
}

.footer_contacts, .footer_address {
    height: 234px;
    /* padding-top: 10px;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.footer_title {
    font-size: 35px;
    color: #FFFFFF;
    line-height: 45.5px;
    letter-spacing: 0.06em;
}

.footer_email, .footer_number, .footer_street {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Georgia;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    transition: all .1s linear;
}

.footer_email:hover, .footer_number:hover, .footer_street:hover {
    opacity: 0.7;
} 



.footer_image {
    margin: 0 0 -60px 17px;;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}








